<body class="text-center">

    <main class="w-50 m-auto">
        <br>
        <br>


        <div class="card">
            <form [formGroup]="addForm" #f="ngForm" autocomplete="off" class="form-signin w-auto m-auto mb-3">

                <img class="mb-3" src="../../../../assets/img/usaTruck.png" alt="" width="400" height="100">
                <h1 class="h3 mb-3 fw-normal">Update Password</h1>


                <div class="form-floating" [formGroup]="addForm">
                    <input id="password" type="password" class="form-control" placeholder="  password" formControlName="PASSWORD">
                    <label for="password">Password*</label>
                </div>

                <br>
                <!-- <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div> -->
                <button class="w-100 btn btn-lg btn-primary" (click)="update(false)">Update </button>


                <p class="mt-5 mb-3 text-muted">&copy; Dispatchers App 2022</p>

                <div class="form-group text-center">

                    <div class="text-left">Required Fields (*) </div>
                </div>



            </form>
        </div>



    </main>


</body>