html,
body {
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    position: absolute;
    width: 100%;
}

#body {
    padding: -3rem 1rem;
    border: 0.0625rem solid #C1C1C1;
    border-bottom: none;
    /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
    background: #6cf;
}

.snippet {
    padding: 3rem 3.5rem;
    border: 0.0625rem solid #C1C1C1;
    border-bottom: none;
    background-color: var(--sapBackgroundColor);
}

.label {
    padding-right: 3%;
    padding-bottom: 1%;
    text-align: left;
}

.rightAlign {
    padding-right: 50%;
    width: 80%
}

.table {
    border: 0.0625rem solid #C1C1C1;
    border-bottom: none;
    background-color: var(--sapBackgroundColor);
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

.input-fi{
    height: 2.2rem;
    width: 90%;
}

.input-fisnd{
    height: 2rem;
    width: 95%;
}

.date-inp{
    height: 2rem;
    width: 47%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
