#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#shellbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}