html,
body {
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    position: absolute;
    width: 100%;
}

#body {
    padding: -3rem 1rem;
    border: 0.0625rem solid #C1C1C1;
    border-bottom: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #6cf;
}

.snippet {
    padding: 3rem 3.5rem;
    border: 0.0625rem solid #C1C1C1;
    border-bottom: none;
    background-color: var(--sapBackgroundColor);
}

.label {
    padding-right: 3%;
    padding-bottom: 1%;
    text-align: left;
}

.rightAlign {
    padding-right: 50%;
    width: 80%
}

.table {
    border: 0.0625rem solid #C1C1C1;
    border-bottom: none;
    background-color: var(--sapBackgroundColor);
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

.text-left {
    padding-bottom: 2%;
}

/*.modal {
    width: 40%;
    height: 600px;
    box-shadow: 5px 5px 4px rgba(19, 19, 19, 0.2);
    border-radius: 10px;
    background-color: #fff;
} */

.btn-input-group {
    border-right:  1px solid #ced4da;
    border-top:  1px solid #ced4da;
    border-bottom:  1px solid #ced4da;
    border-left: none;
    background-color: #ffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.btn-input-group:hover{
    border-right:  1px solid #ced4da;
    border-top:  1px solid #ced4da;
    border-bottom:  1px solid #ced4da;
    border-left: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.btn-input-icon:hover{
    color: #0854a0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.btn-select{
    background-color: #ffffff; 
    border: none;
    color: #787a7d;
    text-decoration: none;
}

.btn-select:hover{
    color: #2367aa;
    text-decoration: underline;
}

.btn-select-icon:hover{
    color: #2367aa;
}

.form-read:read-only {
    background-color: #f5f5f5;
    cursor: text;
  }
.form-btn:disabled{
    background-color: #f5f5f5;
    cursor: default;
}

.text-input-group {
    border-left:  1px solid #ced4da;
    border-top:  1px solid #ced4da;
    border-bottom:  1px solid #ced4da;
    border-right:  1px solid #ced4da;
    background-color: #f2f2f2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    margin: 0px; 
    font-size: 13px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { appearance: textfield; }