<div class="row" style="width: 100%;">
    <div class="col-lg-12" style="width: 100%;">
        <div class="card card-user">
            <div class="card-header">

            </div>
            <div class="card-body" style="padding-left: 2%;">

                <div class="row">
                    <div class="col">
                        <ui5-button [disabled]="!canEdit" class="form-btn mr-2" icon="upload-to-cloud" (click)="startUpload()"> Start Upload</ui5-button>
                    </div>
                    <ui5-upload-collection #uploadCollection mode="Delete" (drop)="onChangeFile($event,true)" (file-name-click)="fileClick($event)" (item-delete)="deleteRow($event)" no-data-description="Drop files to add, or use the Add button.">
                        <div slot="header" class="header">
                            <div class="row mt-3" style="width: 100%;">

                                <div class="col justify-content-end align-items-end text-right">
                                    <!-- <ui5-button [disabled]="!canEdit" class="form-btn mr-2" icon="upload-to-cloud" (click)="startUpload()"> Start Upload</ui5-button> -->
                                    <ui5-file-uploader class="form-btn mr-2" (change)="onChangeFile($event)" hide-input multiple>

                                        <ui5-button [disabled]="!canEdit" class="form-btn" icon="add">Add</ui5-button>
                                    </ui5-file-uploader>
                                </div>
                            </div>
                        </div>
                    </ui5-upload-collection>
                </div>
            </div>
        </div>

    </div>
</div>