<div class="wrapper">
    <ui5-bar design="Header">
        <h3 class="card-title" slot="startContent">Equipment Type </h3>
    </ui5-bar>
    <ui5-bar design="Header" style="background-color: #f7f7f7;">
        <ui5-input id="searchInput" slot="endContent" placeholder="Search by Equipment..." style="width: 75%">
            <ui5-icon id="searchIcon" slot="icon" name="search"></ui5-icon>
        </ui5-input>
        <ui5-button icon="add" design="Transparent" tooltip="Create New Equipment" slot="endContent"
            routerLink="/new-equipmenttype/.!">New</ui5-button>
    </ui5-bar>
    <div class="body" >
        <form>
            <ui5-table class="demo-table" id="table">
                <!-- Columns -->

                <ui5-table-column slot="columns" style="width: 12rem">
                    <span style="line-height: 1.4rem">Equipment Type ID</span>
                </ui5-table-column>
                <ui5-table-column slot="columns" style="width: 12rem">
                    <span style="line-height: 1.4rem">Equipment Type Description</span>
                </ui5-table-column>
                <!-- <ui5-table-column slot="columns" style="width: 12rem">
                    <span style="line-height: 1.4rem">Created By</span>
                </ui5-table-column>
                <ui5-table-column slot="columns" style="width: 12rem">
                    <span style="line-height: 1.4rem">Created On</span>
                </ui5-table-column>
                <ui5-table-column slot="columns" style="width: 12rem">
                    <span style="line-height: 1.4rem">Changed By</span>
                </ui5-table-column>
                <ui5-table-column slot="columns" style="width: 12rem">
                    <span style="line-height: 1.4rem">Changed On</span>
                </ui5-table-column> -->
                <ui5-table-column slot="columns" style="width: 12rem">
                    <span style="line-height: 1.4rem">Actions</span>
                </ui5-table-column>

                <ui5-table-row *ngFor="let equipment of ObjList; let i = index" class="ui-table-row-root">
                    <ui5-table-cell slot="default">
                        <span>{{equipment.EQUIPMENTTYPEID}}</span>
                    </ui5-table-cell>
                    <ui5-table-cell slot="default">
                        <span>{{equipment.DESCRIPTION}}</span>
                    </ui5-table-cell>
                    <!-- <ui5-table-cell slot="default">
                        <span>{{equipment.CREATEDBY}}</span>
                    </ui5-table-cell>
                    <ui5-table-cell slot="default">
                        <span>{{equipment.CREATEDON}}</span>
                    </ui5-table-cell>
                    <ui5-table-cell slot="default">
                        <span>{{equipment.CHANGEBY}}</span>
                    </ui5-table-cell>
                    <ui5-table-cell slot="default">
                        <span>{{equipment.CHANGEON}}</span>
                    </ui5-table-cell> -->


                  <!--  <ui5-button [routerLink]="['/customer',cliente.id]"><i class="fa fa-pen"></i></ui5-button> -->

                    <ui5-button icon="edit" design="Transparent" [routerLink]="['/new-equipmenttype', equipment.EQUIPMENTTYPEID]">
                    </ui5-button>

                    <ui5-button icon="delete" design="Transparent" (click)="deleteEquipment(equipment.EQUIPMENTTYPEID)">
                  </ui5-button>



                </ui5-table-row>

            </ui5-table>
        </form>
    </div>
</div>